/*Estilos Generales*/
html,
body {
    margin: 0;
    /* Elimina el margen predeterminado del cuerpo de la página */
    padding: 0;
    /* Elimina el relleno predeterminado */
    height: 100%;
    /* Altura de 100%*/
    color: white;
}

body {
    background-image: url(../img/fondo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

/* Superposición semitransparente */
body::before {
    content: "";
    position: fixed;
    /* Fija el pseudo-elemento para cubrir toda la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000046;
    /* Cambia el valor alfa (0.5) para ajustar la opacidad */
    z-index: -1;
    /* Mueve la superposición detrás del contenido */
}

/*Estilos del menú*/
.navbar {
    display: flex;
    /*Utiliza el modelo flexible para la barra de navegación*/
    justify-content: space-between;
    /*Distribuye los elementos a los extremos*/
    align-items: center;
    /*Centra verticalmente los elementos*/
    /*background-color: #333333; /*Color de fondo de la barra de navegación*/
    padding: 10px 20px;
    /*Espaciado interno*/
    color: white;
    /*Color del Texto*/
    margin-right: 20px;
    /*Para añadir espaciado entre el li y el margen*/
}

.logo {
    display: flex;
    font-size: 1.5rem;
    /*Tamaño de fuente del logotipo*/
    margin-left: 2%;
}

.logo img {
    margin-top: 23px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 4px;
}

.logo h2 {
    margin-top: 35px;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    font-style: italic;
    text-transform: capitalize;
}

.menu-toggle {
    display: flex;
    /*Usa el modelo flexible para el ícono y los elementos de menú*/
    align-items: center;
    /*Centra verticalmente los elementos*/
}

.menu-icon {
    font-size: 1.5rem;
    /*Tamaño de fuente del ícono hamburgueza*/
    cursor: pointer;
    /*Cambia el cursor al pasar sobre el ícono*/
}

.menu {
    list-style: none;
    /*Elimina las viñetas de la lista menú*/
    margin: 0;
    /*Elimina el margen de la lista de menú*/
    padding: 0;
    /*Elimina el padding de la lista de menú*/
    display: flex;
    /*Usa el modelo flexible para la lista de menú*/
}

.menu li {
    margin: 15px 15px;
    /*Agrega margen horizontal a los elementos de la lista menú*/
    padding: 3px 3px;
    /*Espaciado entre el los elementos y su contenido*/
}

.menu a {
    text-decoration: none;
    /*Elimina el subrayado de los enlaces <a>*/
    color: white;
    /*Color del texto de los enlaces*/
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: color 0.3s;
    /*Transición suave del color al pasar el ratón*/
}

.menu a:hover {
    color: #ffd700;
    /*Cambia el color del texto al pasar el ratón por encima*/
}
b {
    color: #00ff80;
    text-shadow: 2px 2px 7px #00bfffb3; /* Sombra luminosa */
}

#description {
    font-family: 'Tulpen One', cursive;
}
/* FOOTER*/
footer {
    background-color: #42413e;
    margin-top: -30px;
    padding-top: 15px;
    color: #ffffff;
}
footer .copi {
    text-align: center;
    background-color: #000000eb;
    color: #ffffff;
    padding: 10px;
}
/* animación a los íconos de las redes sociales */
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.redes-s, #inst {
    transition: transform 0.3s ease-in-out;
}
.redes-s, #inst {
    animation: scale 2s ease-in-out infinite;
}
/* footer div {
background-color: #ffd700;
} */
footer img {
    height: 20px;
    width: auto;
    margin-left: 30px;
}
.c {
    display: flex;
}
.c .parrafo {
    margin-left: 10px;
    margin-top: 3.5px;
}
.social {
    margin-left: 25px;
    text-transform: uppercase;
}
#social {
    margin-bottom: 20px;
}

.redes-s {
    height: 30px;
    width: auto;
    padding-bottom: -18px;
}
#inst {
    margin-bottom: -5px;
    height: 35px;
    width: auto;
}

.socials {
    margin-left: 70vw;
}

/*Oculta el input checkbox y la etiqueta del ícono en pantallas grandes*/
@media screen and (min-width: 790px) {

    #menu-checkbox,
    .menu-icon {
        display: none;
    }

    /* Para ocultar el ícono de cierre */
    #menu-checkbox,
    .close-button {
        display: none;
    }

    .logo h2 {
        margin-top: 27px;
        margin-left: 8px;
        font-size: 25px;
    }

    /* Main no responsive */
    #m-res {
        display: inline-block;
        margin-bottom: 100px;
    }

    #m-res h1 {
        text-shadow: 5px 5px 10px #00bfffb3; /* Sombra luminosa */
        font-size: 50px;
        display: block;
        margin-left: 6%;
        margin-top: 30px;
    }

    #description {
        font-size: 18px;
        margin-top: -20px;
        text-align: justify;
        margin-left: 70px;
        display: inline-block;
        /* Cambia el flujo del elemento a en línea y bloque */
        vertical-align: middle;
        /* Alinea verticalmente con la imagen */
        width: 48%;
        /* Establece el ancho del párrafo */
        margin-right: 50px;
        /* Agrega un margen derecho para separar de la imagen */
    }

    .gif-p {
        display: inline-block;
        /* Cambia el flujo del elemento a en línea y bloque */
        max-width: 30%;
        /* Limita el ancho de la imagen */
        border-radius: 60px;
        /* Agrega borde redondeado */
        vertical-align: middle;
        /* Alinea verticalmente con el párrafo */
        margin-right: 10px;
        margin-top: -40px;
        margin-left: 30px;
    }
    .bottom {
        font-size: 20px;
        text-transform: capitalize;
        color: #121824;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: capitalize;
        border-radius: 10px;
        margin-left: 5%;
        margin-top: 20px;
        padding: 15px 20px;
        max-width: 250px;
        border-style: none;
        border-color: aliceblue;
        cursor: pointer;
        background-color: #00ff00;
        transition: bacground-color 0.3s ease-in-out;
        margin-bottom: 40px;
    }

    .bottom:hover {
        font-size: 20px;
        background-color: #ffd700;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-radius: 10px;
        margin-left: 5%;
        /* margin-bottom: 40px;
        padding: 15px 20px; */
        max-width: 250px;
        border-style: none;
    }  
    
    /*SKILLS*/
    .title-2 {
        text-align: center;
        font-size: 35px;
        padding-top: 10px;
    }
    #skills {
        background-color: #09242aad;
        margin-right: 30px;
        margin-left: 40px;
        border-radius: 5%;
    }
    .skill {
        display: flex; /* Establece el modelo de caja flexible para los elementos hijos */
        justify-content: space-around; /* Distribuye los elementos con espacio alrededor */
        align-items: center; /* Centra verticalmente los elementos */
    }
    
    .skill > div {
        text-align: center; /* Centra el contenido de cada div hijo horizontalmente */
        margin: 0 10px; /* Agrega un margen horizontal para separar los elementos */
    }
    .remot {
        margin-top: 10%;
        margin-bottom: -30px;
    }
    @keyframes zoomIn {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.2); /* Cambia el tamaño de la imagen al 120% */
        }
    }
    
    /* Aplica la animación cuando el ratón pasa sobre la imagen */
    .remot:hover {
        animation: zoomIn 0.3s forwards; /* Inicia la animación al pasar el ratón y mantiene el último estado */
    }    
    #skills .remot {
        width: 70px;
        height: 80px;
        margin-left: 55px;
        padding: 5px 5px;
    }
    .div-s img {
        margin-right: 55px;
    }
    h4 {
        margin-left: 47px;
        padding: 8.5px 8.5px;
        text-align: center;
    }
    #ta {
        margin-right: 50px;
    }
}

/*Estilos responsive*/
@media screen and (max-width: 790px) {

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    body {
        background-image: url(../img/fondo-responsivo.jpeg);
        background-size: 100% 100%;
        /* cambiar las dimensiones de la image para que sea más responsive */
    }

    /* Oculta el menú por defecto */
    .menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        /* Fondo negro transparente */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        /* Asegura que el menú esté en la parte superior */
    }
    .navbar {
        margin-top: 10px;
    }
    .logo h2 {
        font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-top: 27px;
        margin-left: 8px;
        font-size: 25px;
    }

    .menu.active {
        display: flex;
        /*Muestra el menú desplegable cuando está activo*/
    }

    .menu li {
        margin: 10px 0;
        font-family: Arial, Helvetica, sans-serif;
        /*Agrega margen vertical a los elementos del menú desplegable*/
    }

    .menu-toggle {
        position: relative;
        /*Cambia la posición del ícono de hamburguesa*/
    }

    .menu-icon {
        display: block;
    }

    #menu-checkbox {
        display: none;
    }

    #menu-checkbox:checked+.menu-icon+.menu {
        display: flex;
    }

    /* Estilos para el botón de cierre */
    .close-button {
        position: absolute;
        top: 27px;
        margin-top: 50px;
        margin-right: 25px;
        right: 20px;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
    }

    /* Muestra el botón de cierre cuando el menú está abierto */
    #menu-checkbox:checked+.menu-icon+.menu .close-button {
        display: block;
    }

    /* Añadir estilos a el contenido del main */
    h1 {
        text-shadow: 5px 5px 10px #00bfffb3; /* Sombra luminosa */
        font-size: 90px;
        margin-top: 30px;
        margin-left: 5%;
    }

    #description {
        font-size: 25px;
        text-align: justify;
        margin-left: 5%;
        margin-right: 5%;
    }

    .bottom {
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: capitalize;
        border-radius: 10px;
        margin-left: 5%;
        margin-bottom: 50px;
        padding: 15px 20px;
        width: 200px;
        max-width: 200px;
        border-style: none;
        border-color: aliceblue;
        cursor: pointer;
        background-color: #00FF00;
        transition: bacground-color 0.3s ease-in-out;
    }

    .bottom:hover {
        font-size: 30px;
        background-color: #ffd700;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-radius: 10px;
        margin-left: 5%;
        margin-bottom: 50px;
        padding: 15px 20px;
        height: auto;
        width: 200px;
        max-width: 200px;
        border-style: none;
    }

    /*Contact Me*/
    

    /* .btn-s {
        color: #ffffffc6;
        text-transform: uppercase;
        padding-top: 5px;
        margin-top: 20px;
        width: 100px;
        border-radius: 12px;
        padding: 10px;
        border-style: groove;
        border-color: #0080007d;
        background-color: #00ff6a51;
    } */

    .gif-p {
        display: block;
        /* Cambia el flujo del elemento a en línea y bloque */
        max-width: 60%;
        max-height: 30%;
        /* Limita el ancho de la imagen */
        border-radius: 60px;
        /* Agrega borde redondeado */
        margin-right: 10px;
        margin-top: 20px;
        margin-left: 20%;
        margin-bottom: 30px;
        height: 300px;
    }

    /* Skills*/
    .title-2 {
        text-align: center;
        font-size: 20px;
    }
    #skills {
        background-color: #0d16248f;
        margin-right: 1%;
        margin-left: 1%;
        margin-top: 10%;
        border-style: groove;
    }
    .skill {
        display: flex; /* Establece el modelo de caja flexible para los elementos hijos */
        justify-content: space-around; /* Distribuye los elementos con espacio alrededor */
        align-items: center; /* Centra verticalmente los elementos */
    }
    
    .skill > div {
        text-align: center; /* Centra el contenido de cada div hijo horizontalmente */
        margin: 0 10px; /* Agrega un margen horizontal para separar los elementos */
    }
    .remot {
        margin-top: 10%;
        margin-bottom: -30px;
    }
    @keyframes zoomIn {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.2); /* Cambia el tamaño de la imagen al 120% */
        }
    }
    
    /* Aplica la animación cuando el ratón pasa sobre la imagen */
    .remot:hover {
        animation: zoomIn 0.3s forwards; /* Inicia la animación al pasar el ratón y mantiene el último estado */
    }    
    #skills .remot {
        width: 30px;
        height: 40px;
        margin-left: 15px;
        padding: 3px 3px;
        margin-bottom: 3px;
    }
    h4 {
        margin-left: 15px;
        padding: 2.5px 2.5px;
        text-align: center;
        font-size: 13px;
    }
    /* FOOTER*/
    footer {
        background-color: #42413e;
        margin-top: -30px;
        padding-top: 15px;
        color: #ffffff;
    }
    footer .copi {
        text-align: center;
        background-color: #000000eb;
        color: #ffffff;
        padding: 10px;
    }
    footer img {
        height: 20px;
        width: auto;
        margin-left: 30px;
    }
    .c {
        display: flex;
    }
    .c .parrafo {
        margin-left: 10px;
        margin-top: 3.5px;
    }
    .social {
        margin-left: 25px;
        text-transform: uppercase;
    }
    #social {
        margin-bottom: 20px;
    }

    .redes-s {
        height: 30px;
        width: auto;
        padding-bottom: -18px;
    }
    #inst {
        margin-bottom: -5px;
        height: 35px;
        width: auto;
    }

    .socials {
        margin-left: 70vw;
    }
}
@media screen and (max-width: 520px) {
    /* Cambiar el tamaño del h1 para dispositivos aún más pequeños */
    h1 {
        text-shadow: 5px 5px 10px #00bfffb3; /* Sombra luminosa */
        margin-top: 10px;
        font-size: 40px;
    }
    #description {
        font-size: 15px;
    }
    .bottom {
        font-size: 20px;
    }
    .bottom:hover {
        font-size: 20px;
    }
    /* FOOTER --*/
    footer {
        background-color: #42413e;
        margin-top: 10px;
        padding-top: 15px;
        width: 100vw;
        color: #ffffff;
    }
    footer .copi {
        text-align: center;
        background-color: #000000eb;
        color: #ffffff;
        padding: 10px;
    }
    /* animación a los íconos de las redes sociales */
    @keyframes scale {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    .redes-s, #inst {
        transition: transform 0.3s ease-in-out;
    }
    .redes-s, #inst {
        animation: scale 2s ease-in-out infinite;
    }

    footer img {
        height: 20px;
        width: auto;
        margin-left: 30px;
    }
    .c {
        display: flex;
    }
    .c .parrafo {
        margin-left: 10px;
        margin-top: 3.5px;
    }
    .social {
        margin-left: -200px;
        text-transform: uppercase;
    }
    #social {
        display: flex;
        margin-left: -200px;
        margin-bottom: 20px;
    }

    .redes-s {
        height: 30px;
        width: auto;
        padding-bottom: -18px;
    }
    #inst {
        margin-bottom: -5px;
        height: 35px;
        width: auto;
    }

    .socials {
        margin-left: 70vw;
    }
}