#contact {
    background-color: #0affff4f;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 12vh;
    margin-bottom: -3vh;
}

#contact h3 {
    font-size: 40px;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 1px;
}

#social-n {
    display: flex;
    justify-content: center;
}

#items-c {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#items-c li {
    margin: 15px;
}

#items-c a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color: #fefefe;
}

/*RESPONSIVE*/
@media screen and (max-width: 790px) {
    /*Contact Me*/
    
}