/*Estilos Generales*/
html,
body {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../img/geek.jpg);
    background-color: #3c3b3b;
    /* Asegúrate de tener una imagen de fondo que sea responsiva o utilices 'background-size: cover;' */
    background-size: 100% 100vh;
    /* height: 50vh; 750px */
    font-family: var(--font-logo);
    /* Revisar si se necesita esta fuente */
    /* Duplicaste la propiedad 'font-family' aquí */
    color: var(--light-color);
    opacity: 1.9;
    background-repeat: no-repeat;
}

/* Superposición semitransparente */
/* body::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000098;
    z-index: -1;
} */

/*Estilos del menú*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    margin-right: 20px;
}

.logo {
    display: flex;
    font-size: 1.5rem;
    /*Tamaño de fuente del logotipo*/
    margin-left: 2%;
}

.logo img {
    margin-top: 23px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 4px;
}

.logo h2 {
    margin-top: 35px;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    font-style: italic;
    text-transform: capitalize;
}

.menu-toggle {
    display: flex;
    /*Usa el modelo flexible para el ícono y los elementos de menú*/
    align-items: center;
    /*Centra verticalmente los elementos*/
}

.menu-icon {
    font-size: 1.5rem;
    /*Tamaño de fuente del ícono hamburgueza*/
    cursor: pointer;
    /*Cambia el cursor al pasar sobre el ícono*/
}

.menu {
    list-style: none;
    /*Elimina las viñetas de la lista menú*/
    margin: 0;
    /*Elimina el margen de la lista de menú*/
    padding: 0;
    /*Elimina el padding de la lista de menú*/
    display: flex;
    /*Usa el modelo flexible para la lista de menú*/
}

.menu li {
    margin: 15px 15px;
    /*Agrega margen horizontal a los elementos de la lista menú*/
    padding: 3px 3px;
    /*Espaciado entre el los elementos y su contenido*/
}

.menu a {
    text-decoration: none;
    /*Elimina el subrayado de los enlaces <a>*/
    color: white;
    /*Color del texto de los enlaces*/
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: color 0.3s;
    /*Transición suave del color al pasar el ratón*/
}

.menu a:hover {
    color: #ffd700;
    /*Cambia el color del texto al pasar el ratón por encima*/
}

b {
    color: #00ff80;
    text-shadow: 1px 1px 3px #1495c8b3;
    /* Sombra luminosa */
}

#description {
    font-family: 'Saira Condensed', sans-serif;
    /* font-family: 'Barlow Condensed', sans-serif; */
    color: #ffffff;
    text-shadow: 6px 6px 8px #1bbcfbe4;
}

/* Footer */
footer {
    background-color: #333333;
    color: #ffffff;
    padding: 50px 0;
    padding-top: 20vh;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    flex-basis: 25%;
    margin-bottom: 20px;
}

footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
    /* text-transform: uppercase; */
}

footer p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Barlow Condensed', sans-serif;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 10px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
}

footer a:hover {
    text-decoration: underline;
}

footer hr {
    border: none;
    border-top: 1px solid #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .text-center {
    text-align: left;
}

footer #socials img {
    max-width: 40px;
}

footer #skills img {
    border-radius: 50%;
}

/* .sections {
    width: inherit;
    min-height: inherit;
    font-family: var(--font-logo);
    background-color: #1b1d27;
    color: var(--light-color);
} */



/*Oculta el input checkbox y la etiqueta del ícono en pantallas grandes*/

#menu-checkbox,
.menu-icon {
    display: none;
}

/* Para ocultar el ícono de cierre */
#menu-checkbox,
.close-button {
    display: none;
}

.logo h2 {
    margin-top: 27px;
    margin-left: 8px;
    font-size: 25px;
}

/* Main no responsive */
#m-res {
    display: block;
    margin-bottom: auto;
    height: 78%;
}

#m-res h1 {
    text-shadow: 2px 2px 5px #050e11b3;
    color: rgba(130, 255, 245, 0.879);
    /* Sombra luminosa */
    text-align: left;
    width: 45vw;
    font-size: 45px;
    margin-left: 6vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* #content-2 {
        margin-top: 80px;
    } */

#description {
    font-size: 3vh;
    margin-top: 0;
    text-align: justify;
    margin-left: 7vw;
    display: block;
    /* Cambia el flujo del elemento a en línea y bloque */
    /* vertical-align: baseline; */
    /* Alinea verticalmente con la imagen */
    width: 30vw;
    /*48%*/
    /* Establece el ancho del párrafo */
    margin-right: 50px;
    /* Agrega un margen derecho para separar de la imagen */
}

.container-c {
    display: flex;
    justify-content: space-between;
    /* Espacio entre elementos */
}

.element {
    text-align: center;
    flex-basis: calc(33.33% - 10px);
    /* Ancho del elemento */
}

.element img {
    max-width: 100%;
    /* Ajustar imagen al tamaño máximo del contenedor */
    border-radius: 50%;
    height: 20vh;
}

#my-skills-c {
    margin-top: 10vh;
    padding-top: 20vh;
    height: auto;
    padding-bottom: 10vh;
}

.habilidades {
    margin-left: 40px;
    padding-bottom: 8vh;
    font-size: 30px;
    color: #00ff80;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 1.5px;
}

.aboutme {
    background-color: #b9b9b93b;
    height: auto;
    padding-bottom: 8vh;
}

.contenedor-a {
    margin-left: 70px;
}

.aboutme .t {
    color: #00ff80;
    /* margin-left: 5px; */
    padding-top: 8vh;
    text-align: left;
    font-size: 30px;
    font-family: 'Saira Condensed', sans-serif;
}

.cont {
    display: flex;
    /* justify-content: space-between; */
    gap: var(--wp--style--block-gap, 4.3em);
}

.elem {
    /* text-align: center; */
    flex-basis: calc(43.33% - 10px);
}

.linear {
    max-width: 120px;
    margin-top: -5vh;
    border-top: 1px solid;
    border-bottom: 2px solid;
    color: #00ff80;
}

.aboutme .t2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    color: #eeefeebf;
}

.aboutme p {
    font-family: 'Barlow Condensed', sans-serif;
    color: #ffffff;
    font-size: 20px;
}

/* .c-3 {
    background-color: #b9b9b93b;
    height: 55vh;
} */

.cont-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.elem-3 {
    text-align: left;
    flex-basis: calc(35.3% - 15px);
}

.elem-3 .gif-p {
    display: inline-block;
    /* Cambia el flujo del elemento a en línea y bloque */
    max-width: 40vh;
    /* Limita el ancho de la imagen */
    border-radius: 50%;
    /* Agrega borde redondeado */
    vertical-align: middle;
    /* Alinea verticalmente con el párrafo */
    margin-right: 2px;
    margin-top: 4vh;
    margin-left: -5vw;
}

.elem-3 p {
    margin-left: -5vw;
    font-family: 'Barlow Condensed', sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.bottom {
    font-size: 2.5vh;
    text-transform: capitalize;
    color: #121824;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: capitalize;
    border-radius: 10px;
    margin-left: 5vw;
    padding: 15px 20px;
    max-width: 40vw;
    border-style: none;
    border-color: aliceblue;
    cursor: pointer;
    background-color: hsl(120, 100%, 50%);
}

.bottom:hover {
    font-size: 2.5vh;
    background-color: #ffd700;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    margin-left: 5vw;
    padding: 15px 20px;
    max-width: 250px;
}

/*SKILLS*/
.title-2 {
    /* text-align: center; */
    margin-left: 40px;
    /* padding-top: 10px; */
    padding-bottom: 1vh;
    font-size: 30px;
    color: #00ff80;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 1px;
}

#skills {
    margin-top: 3vh;
    padding-top: 10vh;
    padding-bottom: 15vh;
    background-color: #b9b9b93b;
    height: auto;

}

.my-skills div img {
    max-width: 10%;
}

.my-skills {
    display: flex;
}

.skill-c {
    text-align: left;
    flex-basis: calc(33.3% - 10px);
    padding-left: 30px;
    padding-right: 30px;
}

.skill-c p {
    font-family: 'Barlow Condensed', sans-serif;
}

#linea {
    margin-left: 2vw;
    margin-right: 2vh;
    margin-bottom: 5vh;
    padding-bottom: 1px;
    padding-top: 1px;
    border-style: dotted;
    color: #00FF00;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
        /* Cambia el tamaño de la imagen al 120% */
    }
}

/* Aplica la animación cuando el ratón pasa sobre la imagen */
.remot:hover {
    animation: zoomIn 0.3s forwards;
    /* Inicia la animación al pasar el ratón y mantiene el último estado */
}

@media screen and (max-width: 1128px) {
    body {
        height: 100vh;
    }

    #my-skills-c {
        margin-top: 2vh;
        padding-top: 20vh;
    }
}

@media screen and (max-width: 1078px) {
    body {
        height: 90vh;

    }

    #my-skills-c {
        margin-top: 2vh;
        padding-top: 20vh;
    }
}

@media screen and (max-width: 1018px) {
    body {
        height: 110vh;
    }

    #m-res h1 {
        font-size: 40px;
    }

    #my-skills-c {
        margin-top: 2vh;
        padding-top: 5vh;
    }
}

/*Estilos responsive*/
@media screen and (max-width: 921px) {

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    body {
        background-image: url(../img/geek-resp.jpg);
        background-size: 100% 100%;
        /* cambiar las dimensiones de la image para que sea más responsive */
    }

    /* Oculta el menú por defecto */
    .menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        /* Fondo negro transparente */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        /* Asegura que el menú esté en la parte superior */
    }

    .navbar {
        margin-top: 10px;
    }

    .logo h2 {
        font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-top: 30px;
        margin-left: 10px;
        font-size: 20px;
    }

    .menu.active {
        display: flex;
        /*Muestra el menú desplegable cuando está activo*/
    }

    .menu li {
        margin: 10px 0;
        font-family: 'Concert One', cursive;
        /*Agrega margen vertical a los elementos del menú desplegable*/
    }

    .menu-toggle {
        position: relative;
        /*Cambia la posición del ícono de hamburguesa*/
    }

    .menu-icon {
        display: block;
    }

    #menu-checkbox {
        display: none;
    }

    #menu-checkbox:checked+.menu-icon+.menu {
        display: flex;
    }

    /* Estilos para el botón de cierre */
    .close-button {
        position: absolute;
        top: 27px;
        margin-top: 50px;
        margin-right: 25px;
        right: 20px;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
    }

    /* Muestra el botón de cierre cuando el menú está abierto */
    #menu-checkbox:checked+.menu-icon+.menu .close-button {
        display: block;
    }

    /* Añadir estilos a el contenido del main */
    #m-res h1 {
        font-family: 'Concert One', cursive;
        text-shadow: 5px 5px 10px #00bfffb3;
        /* Sombra luminosa */
        font-size: 35px;
        margin-top: 20px;
        max-width: 90vw;
    }

    #description {
        font-size: 18px;
        text-align: justify;
        margin-left: 5%;
        margin-right: 5%;
    }

    .bottom {
        font-size: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: capitalize;
        border-radius: 10px;
        margin-left: 5%;
        margin-bottom: 50px;
        padding: 15px 20px;
        width: 200px;
        max-width: 200px;
        border-style: none;
        border-color: aliceblue;
        cursor: pointer;
        background-color: #00FF00;
        transition: bacground-color 0.3s ease-in-out;
        font-family: 'Concert One', cursive;
    }

    .bottom:hover {
        font-size: 20px;
        background-color: #ffd700;
        color: black;
        font-family: 'Concert One', cursive;
        border-radius: 10px;
        margin-left: 5%;
        margin-bottom: 50px;
        padding: 15px 20px;
        height: auto;
        width: 200px;
        max-width: 200px;
        border-style: none;
    }

    /*Contact Me*/


    /* .btn-s {
        color: #ffffffc6;
        text-transform: uppercase;
        padding-top: 5px;
        margin-top: 20px;
        width: 100px;
        border-radius: 12px;
        padding: 10px;
        border-style: groove;
        border-color: #0080007d;
        background-color: #00ff6a51;
    } */

    .gif-p {
        display: block;
        /* Cambia el flujo del elemento a en línea y bloque */
        max-width: 60%;
        max-height: 30%;
        /* Limita el ancho de la imagen */
        border-radius: 60px;
        /* Agrega borde redondeado */
        margin-right: 10px;
        margin-top: 20px;
        margin-left: 20%;
        margin-bottom: 30px;
        height: 300px;
    }

    /* Skills*/
    .title-2 {
        text-align: center;
        font-size: 20px;
    }

    #skills {
        background-color: #0d16248f;
        /* margin-right: 1%;
        margin-left: 1%; */
        margin-top: 3vh;
    }

    .my-skills div img {
        max-width: 10vw;
    }

    .my-skills {
        display: flex;
        /* Establece el modelo de caja flexible para los elementos hijos */
        /* justify-content: space-around; */
        /* Distribuye los elementos con espacio alrededor */
        /* align-items: center; */
        /* Centra verticalmente los elementos */
    }

    .skill-c {
        text-align: left;
        flex-basis: calc(33.3% - 1px);
        padding-left: 30px;
        padding-right: 30px;
    }

    .skill-c p {
        font-family: 'Barlow Condensed', sans-serif;
    }

    .remot {
        margin-top: 10%;
        margin-bottom: -30px;
    }

    @keyframes zoomIn {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.2);
            /* Cambia el tamaño de la imagen al 120% */
        }
    }

    /* Aplica la animación cuando el ratón pasa sobre la imagen */
    .remot:hover {
        animation: zoomIn 0.3s forwards;
        /* Inicia la animación al pasar el ratón y mantiene el último estado */
    }

    #skills .remot {
        width: 30px;
        height: 40px;
        margin-left: 15px;
        padding: 3px 3px;
        margin-bottom: 3px;
    }

    .name-skill {
        margin-left: 0px;
        padding: 2.5px 2.5px;
        text-align: left;
        font-size: 13px;
    }

    /* Footer */
    footer {
        background-color: #333333;
        color: #ffffff;
        /* padding: 50px 0; */
        padding-top: 20vh;
    }

    footer .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    footer .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer .col {
        flex-basis: 25%;
        margin-bottom: 20px;
    }

    footer h3 {
        font-size: 20px;
        margin-bottom: 10px;
        /* text-transform: uppercase; */
    }

    footer p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
        font-family: 'Barlow Condensed', sans-serif;
    }

    footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    footer li {
        margin-bottom: 10px;
    }

    footer a {
        color: #ffffff;
        text-decoration: none;
        font-family: 'Barlow Condensed', sans-serif;
    }

    footer a:hover {
        text-decoration: underline;
    }

    footer hr {
        border: none;
        border-top: 1px solid #ffffff;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    footer .text-center {
        text-align: left;
    }

    footer #socials img {
        max-width: 40px;
    }

    footer #skills img {
        border-radius: 50%;
    }
}

@media screen and (max-width: 800px) {
    /* Añadir estilos a el contenido del main */
    #m-res {
        text-align: center;
    }
    #m-res h1 {
        font-family: 'Concert One', cursive;
        text-shadow: 5px 5px 10px #00bfffb3;
        /* Sombra luminosa */
        text-align: center;
        width: 70vw;
        font-size: 30px;
        padding-left: 8vw;
        margin-top: 20px;
        /* max-width: 100vw; */
        letter-spacing: 2px;
    }
    #description {
        font-family: 'Saira Condensed', sans-serif;
        /* font-family: 'Barlow Condensed', sans-serif; */
        color: #fbe5e5;
        text-shadow: 6px 6px 8px #1bbcfbe4;
        font-size: 20px;
        margin-top: 10px;
        text-align: center;
        display: flex;
        align-content: center;
        /* margin-left: 0px; */
        padding-left: 10vw;
        width: 70vw;
    }
    .bottom {
        font-size: 2vh;
        text-transform: capitalize;
        color: #121824;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: capitalize;
        border-radius: 10px;
        margin-left: 5vw;
        padding: 15px 20px;
        max-width: 25vw;
        border-style: none;
        border-color: aliceblue;
        cursor: pointer;
        background-color: hsl(120, 100%, 50%);
        margin-top: 10px;
    }
    
    .bottom:hover {
        font-size: 2vh;
        background-color: #ffd700;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-radius: 10px;
        margin-left: 5vw;
        padding: 15px 20px;
        max-width: 25vw;
        margin-top: 10px;
    }
}

@media screen and (max-width: 772px) {
    .aboutme p {
        font-size: 15px;
    }

    .cont-3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .elem-3 {
        text-align: left;
        flex-basis: calc(40.3% - 30px);
    }
    
    .elem-3 .gif-p {
        display: inline-block;
        /* Cambia el flujo del elemento a en línea y bloque */
        height: 25vh;
        width: 25vw;
        /* Limita el ancho de la imagen */
        border-radius: 50%;
        /* Agrega borde redondeado */
        vertical-align: middle;
        /* Alinea verticalmente con el párrafo */
        margin-right: 2px;
        margin-top: 4vh;
        margin-left: -8vw;
    }
    .elem-3 p {
        margin-left: -5vw;
        font-family: 'Barlow Condensed', sans-serif;
        color: #ffffff;
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {

    /* Cambiar el tamaño del h1 para dispositivos aún más pequeños */
    h1 {
        font-family: 'Concert One', cursive;
        text-shadow: 5px 5px 10px #00bfffb3;
        /* Sombra luminosa */
        margin-top: 10px;
        font-size: 40px;
    }

    #description {
        font-size: 15px;
    }

    .bottom {
        font-family: 'Concert One', cursive;
        font-size: 20px;
    }

    .bottom:hover {
        font-family: 'Concert One', cursive;
        font-size: 20px;
    }

    /* FOOTER --*/
    footer {
        background-color: #42413e;
        margin-top: 10vh;
        padding-top: 15px;
        width: 100vw;
        color: #ffffff;
    }

    footer .copi {
        text-align: center;
        background-color: #000000eb;
        color: #ffffff;
        padding: 10px;
    }

    /* animación a los íconos de las redes sociales */
    @keyframes scale {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    .redes-s,
    #inst {
        transition: transform 0.3s ease-in-out;
    }

    .redes-s,
    #inst {
        animation: scale 2s ease-in-out infinite;
    }

    footer img {
        height: 20px;
        width: auto;
        margin-left: 30px;
    }

    .c {
        display: flex;
    }

    .c .parrafo {
        margin-left: 10px;
        margin-top: 3.5px;
    }

    .social {
        margin-left: -200px;
        text-transform: uppercase;
    }

    #social {
        display: flex;
        margin-left: -200px;
        margin-bottom: 20px;
    }

    .redes-s {
        height: 30px;
        width: auto;
        padding-bottom: -18px;
    }

    #inst {
        margin-bottom: -5px;
        height: 35px;
        width: auto;
    }

    .socials {
        margin-left: 70vw;
    }

    .menu li {
        font-family: 'Concert One', cursive;
    }
}