/* FOOTER*/
footer {
    background-color: #42413e;
    margin-top: -30px;
    padding-top: 15px;
    color: #ffffff;
}
footer .copi {
    text-align: center;
    background-color: #000000eb;
    color: #ffffff;
    padding: 10px;
}
/* animación a los íconos de las redes sociales */
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.redes-s, #inst {
    transition: transform 0.3s ease-in-out;
}
.redes-s, #inst {
    animation: scale 2s ease-in-out infinite;
}
/* footer div {
background-color: #ffd700;
} */
footer img {
    height: 20px;
    width: auto;
    margin-left: 30px;
}
.c {
    display: flex;
}
.c .parrafo {
    margin-left: 10px;
    margin-top: 3.5px;
}
.social {
    margin-left: 25px;
    text-transform: uppercase;
}
#social {
    margin-bottom: 20px;
}

.redes-s {
    height: 30px;
    width: auto;
    padding-bottom: -18px;
}
#inst {
    margin-bottom: -5px;
    height: 35px;
    width: auto;
}

.socials {
    margin-left: 70vw;
}


/*SKILLS*/
.skill {
    display: flex; /* Establece el modelo de caja flexible para los elementos hijos */
    justify-content: space-around; /* Distribuye los elementos con espacio alrededor */
    align-items: center; /* Centra verticalmente los elementos */
}

.skill > div {
    text-align: center; /* Centra el contenido de cada div hijo horizontalmente */
    margin: 0 10px; /* Agrega un margen horizontal para separar los elementos */
}

.remot {
    margin-top: 10%;
    margin-bottom: -30px;
}
#skills .remot {
    width: 70px;
    height: 80px;
    margin-left: 55px;
    padding: 5px 5px;
}
.div-s img {
    margin-right: 55px;
}
h4 {
    margin-left: 47px;
    padding: 8.5px 8.5px;
    text-align: center;
}
#ta {
    margin-right: 50px;
}

/*INVESTIGAR*/
.f {
    position: fixed;
}

.bottom {
    font-size: 2.5vh;
    text-transform: capitalize;
    color: #121824;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: capitalize;
    border-radius: 10px;
    /* margin-left: 5%; */
    /* margin-top: -20px; */
    padding: 15px 20px;
    max-width: 40vw;
    border-style: none;
    border-color: aliceblue;
    cursor: pointer;
    background-color: hsl(120, 100%, 50%);
    /* transition: bacground-color 0.3s ease-in-out; */
    /* margin-bottom: 40px; */
    /* position: static; */
    /* top: 75vh;
    left: 8%; */
    /* transform: translate(-50%, -50%); */
}

.bottom:hover {
    font-size: 2.5vh;
    background-color: #ffd700;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    margin-left: 5vw;
    /* margin-bottom: 40px;
    padding: 15px 20px; */
    max-width: 250px;
    border-style: none;
}



h1 {
    background-image: url(../img/background1.jpg);
    background-color: #3c3b3b;
    width: inherit;
    min-height: inherit;
    font-family: var(--font-logo);
    color: var(--light-color);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

body::before {
    content: "";
    position: fixed;
    /* Fija el pseudo-elemento para cubrir toda la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000046;
    /* Cambia el valor alfa (0.5) para ajustar la opacidad */
    z-index: -1;
    /* Mueve la superposición detrás del contenido */
}
/*Estilos del menú*/
.navbar {
    display: flex;
    /*Utiliza el modelo flexible para la barra de navegación*/
    justify-content: space-between;
    /*Distribuye los elementos a los extremos*/
    align-items: center;
    /*Centra verticalmente los elementos*/
    /*background-color: #333333; /*Color de fondo de la barra de navegación*/
    padding: 10px 20px;
    /*Espaciado interno*/
    color: white;
    /*Color del Texto*/
    margin-right: 20px;
    /*Para añadir espaciado entre el li y el margen*/
}